# Mobilizon instance configuration

import Config

config :mobilizon, Mobilizon.Web.Endpoint,
   server: true,
   url: [host: "{{domain}}"],
   http: [
     ip: {127,0,0,1},
     port: 4000
    ],
   secret_key_base: "{{secret_key_base}}"

config :mobilizon, Mobilizon.Web.Auth.Guardian,
  secret_key: "{{secret_key}}"

config :mobilizon, :instance,
  name: "{{instance_name}}",
  description: "{{instance_description}}",
  hostname: "{{domain}}",
  registrations_open: false,
  demo: false,
  allow_relay: true,
  federating: true,
  email_from: "{{admin_email_from}}",
  email_reply_to: "{{admin_email_to}}"

config :mobilizon, Mobilizon.Storage.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "mobilizon",
  password: "{{dbpass}}",
  database: "mobilizon_prod",
  hostname: "localhost",
  port: "5432",
  pool_size: 10

config :mobilizon, Mobilizon.Web.Email.Mailer,
  adapter: Swoosh.Adapters.SMTP,
  relay: "{{ email_server }}",
  hostname: "{{ email_hostname }}",
  # usually 25, 465 or 587
  port: {{ email_port }},
  username: "{{ email_username }}",
  password: "{{ email_password }}",
  # can be `:always` or `:never`
  tls: :if_available,
  allowed_tls_versions: [:tlsv1, :"tlsv1.1", :"tlsv1.2"],
  retries: 1,
  # can be `true`
  no_mx_lookups: false,
  # can be `:always`. If your smtp relay requires authentication set it to `:always`.
  auth: :if_available
