server {
    server_name {{ domain }};

    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    ssl_session_timeout 5m;

    # Uncomment once you get the certificates
    ssl_trusted_certificate   /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate           /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key       /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    # Add TLSv1.3 if it's supported by your system
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+CAMELLIA256:+AES256:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!ECDSA';
    ssl_prefer_server_ciphers on;
    ssl_ecdh_curve prime256v1;
    # ssl_ecdh_curve X25519:prime256v1:secp384r1:secp521r1;
    ssl_stapling on;
    ssl_stapling_verify on;
    add_header Strict-Transport-Security "max-age=31536000";

    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript application/activity+json application/atom+xml;

    # the nginx default is 1m, not enough for large media uploads
    client_max_body_size 16m;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;


    location / {
        proxy_pass http://localhost:4000;
    }

    # Let's Encrypt keeps its files here
    location ^~ '/.well-known/acme-challenge' {
        root /var/www/certbot;
        default_type "text/plain";
    }

    location ~ ^/(js|css) {
        root /opt/mobilizon/priv/static;
        etag off;
        access_log off;
        add_header Cache-Control "public, max-age=31536000, immutable";
    }

    location ~ ^/(media|proxy) {
        etag off;
        access_log off;
        add_header Cache-Control "public, max-age=31536000, immutable";
        proxy_pass http://localhost:4000;
    }

    error_page 500 501 502 503 504 @error;
    location @error {
            root /opt/mobilizon/priv/errors;
            try_files /error.html 502;
    }

}