server {
    server_name    {{ domain }};

    listen         80;
    listen         [::]:80;

    # Remove once HTTPS is setup
    location ^~ '/.well-known/acme-challenge' {
        root /var/www/certbot;
        default_type "text/plain";
    }

    # Uncomment once HTTPS is setup
    # return         301 https://$server_name$request_uri;
}
server {
    # Redirect www to non-www
    server_name www.{{ domain }};
    return  301 $scheme://{{ domain }}$request_uri;
}